body {
    background-color: rgb(14, 14, 80);
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 150px auto 100px;
    grid-template-areas:
        "header header header"
        "main main aside"
        "footer footer footer";
}

.header,
.aside,
.main,
.footer {
    padding: 20px;
}

.header {
    grid-area: header;
    font-weight: bold;
    font-size: 1em;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: inline-block;
    padding: 0px 10px;
}

nav ul a {
    color: #fff;
    text-decoration: none;
}

#menu {
    padding: 30px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    transition: padding ease-in-out 0.5s;
}

#menu.shrink {
    height: 20px;
    padding: 10px 0px;
}

.aside {
    color: white;
    grid-area: aside;
    background-color: #0E0E0E;
    margin-right: 20px;
    border: 10px solid black;
    border-radius: 10px;
    height: fit-content;
    background-image: url(./images/wow\ cat.gif);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.main {
    grid-area: main;
    text-align: center;
    min-height: 580px;
}

h1 {
    color: white;
}

.item {
    color: white;
    display: inline-block;
    padding: 20px;
    margin: 5px 0px;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

.produtos {
    max-width: 300px;
}

table {
    color: black;
    background-color: #6AB7E1;
    margin: auto;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 14px;
    border: 4px solid;
    border-color: black;
}

th {
    background-color: #325A7D;
    text-align: center;
    font-size: 12px;
    border: 1px solid;
    border-color: black;
}

td {
    font-size: 12px;
    border: 1px solid;
    border-color: black;
}

.tab-foot {
    background-color: #191970;
    font-size: 12px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: fit-content;
}

.footer {
    grid-area: footer;
}